body{
  background-color: #f7f7f7;
  display: grid;
  justify-items: center;
  margin-top: 20px;
  gap: 60px;
}

p,h1,h2,h3{
  margin: 8px;
}
p{
  font-size: 20px;
  line-height: 1.3;
}
/* Cabeçalho */
.titulo{
  margin-top: 40px;
  justify-content: center;
  /* border: 2px solid lightcoral; */
  /* text-align: center; */
}
.menu{
  /* border: 2px solid lightcoral; */
/* margin-top: 30px; */
display: flex;
gap: 20px;
justify-content: center;
flex-wrap: wrap;


}
.menu a{
  background: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  flex-wrap: wrap;
  text-decoration: none;
  color: #202020;
}
/* Cabeçalho */

/* Conteiners */
.conteinerPrincipal{
    /* border: 2px solid lightcoral; */
display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 80px;
  margin-right: 80px;
}
/* Elementos dentro do conteiner 1 */
.detalhe{
  width: 60px;
  height: 4px;
  background: #e21;
  display: inline-block;
  position: absolute;
  top: 30px;
  
  right: -25px;
}
.botao{
  text-decoration: none;
  background: red;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  display: inline-block;
  margin-top: 20px;
}
p{
  font-size: 22px;
}
.cont1{
    background: #fff;
  /* border: 2px solid lightcoral; */
    
  text-align: end;
    border-radius: 4px;
position: relative;
}
.cont1 h1{
  /* border: 2px solid lightcoral; */
  /* margin-top: 100px; */
}
.cont1Interno{
   /* border: 2px solid blue; */
 
   margin-top: 100px;
   margin-right: 60px;
  margin-left: 40px;
}

/* Elementos dentro do conteiner 1 */

/* Elementos dentro do conteiner 2 */
.cont2{

}
img{
  max-width: 100%;
  border: 4px;
}
/* Elementos dentro do conteiner 2 */

/* Elementos dentro do conteiner 3 */
.cont3{
  /* border: 2px solid lightcoral; */



}
.cont3 .subtitulo{

}
.subtitulo{
font-size: 64px;
text-transform: uppercase;
color: rgba(0, 0, 0, 0.2);
text-align: right;
padding: 40px;
margin-right: 90px;
margin-top: 60px;
}
/* Elementos dentro do conteiner 3 */

/* Elementos dentro do conteiner 4 */
.cont4{
    /* border: 2px solid yellow; */
    background: #fff;
    display: grid;
    grid-template-columns: 60px 1fr;
padding: 20px;
padding-right: 70px;
}

  .cont4 img{
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    /* gap: 10px 20px; */
  }

.cont4 p{
grid-column: 2;
margin-top: 0px;
}
.cont4 h3{
}
.rodape{
  background: #fff;
  width: 100%;
  text-align: center;
  
}
.rodape p{
font-size: 24px;
color: #010101;
}